<?xml version="1.0"?>
<model>
  <name>tree_mobile</name>
  <version>1.0</version>
  <sdf version="1.6">tree_mobile.urdf</sdf>
  <author>
    <name>Votre Nom</name>
    <email>votre.email@exemple.com</email>
  </author>
  <description>
    Un modèle de robot mobile Waffle avec des capteurs.
  </description>
</model>
